# Basic Stuff
CA_FILE=./chain.crt

# RabbitMQ Stuff
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=rabbitmq
RABBITMQ_AMQPPORT=5671
RABBITMQ_INPUT_QUEUE=CEI
RABBITMQ_OUTPUT_QUEUE=bake

# MongoDB Stuff
MONGODB_HOSTS=mongodb
MONGODB_PORTS=27017
MONGODB_USER=
MONGODB_PASSWORD=

# Databases
APPLICATION_DATABASE=bezunca
